
.label {
    font-size: large;
}

.input {
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 10px;
    color: slategray;
}

.image {
    margin: 0 auto;
    max-height: 250px;
    border-radius: 10px;
}

.button {
    background-color: slategrey;
    width: 12%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 3;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(89, 96, 102);
}